In [6]:
people = {
    "first" : ["Dan", "Steve", "John"],
    "last" : ["Cake", "Rogers", "Cena"],
    "email" : ["dancake@gmail.com", "balachao@gmail.com", "johncina@gmail.com"]
}

In [7]:
import pandas as pd
df = pd.DataFrame(people)
df

   first    last               email
0    Dan    Cake   dancake@gmail.com
1  Steve  Rogers  balachao@gmail.com
2   John    Cena  johncina@gmail.com

In [8]:
df.sort_values(by='last') # it will alphabatically based on 'last' col

   first    last               email
0    Dan    Cake   dancake@gmail.com
2   John    Cena  johncina@gmail.com
1  Steve  Rogers  balachao@gmail.com

In [10]:
df.sort_index() # it will sort based on index

   first    last               email
0    Dan    Cake   dancake@gmail.com
1  Steve  Rogers  balachao@gmail.com
2   John    Cena  johncina@gmail.com